<div class="leftdiv">
  <h4>Total Cards: {{deck.countTotal()}}</h4>
  <table class="deck">
    <tr class="head"><td style="width:30px"></td><td>Heroes (Starting threat: {{deck.startingThreat()}})</td></tr>
    <tr class="card" ng-repeat="card in deck['1hero']" ng-mouseover="deckC.changepreview(card)"><td></td><td class="c{{card.sphere}}">{{card.name}}</td></li>
    <tr class="head"><td></td><td>Allies ({{deck.countAllies()}})</td></tr>
    <tr class="card" ng-repeat="card in deck['2ally']" ng-mouseover="deckC.changepreview(card)"><td>{{card.quantity}}x</td><td class="c{{card.sphere}}">{{card.name}}</td></li>
    <tr class="head"><td></td><td>Attachments ({{deck.countAttachments()}})</td></tr>
    <tr class="card" ng-repeat="card in deck['3attachment']" ng-mouseover="deckC.changepreview(card)"><td>{{card.quantity}}x</td><td class="c{{card.sphere}}">{{card.name}}</td></li>
    <tr class="head"><td></td><td>Events ({{deck.countEvents()}})</td></tr>
    <tr class="card" ng-repeat="card in deck['4event']" ng-mouseover="deckC.changepreview(card)"><td>{{card.quantity}}x</td><td class="c{{card.sphere}}">{{card.name}}</td></li>
  </table>
</div>
