.packbutton { 
  font-size: 9px;
  width: 100%;
  height: 50px;
  border-radius: 6px;
  background-color: #EEEEEE;
  border-width: 1px;
  border-style: solid;
  border-color: #eee #555 #555 #eee;
}
.packbutton.selected {
  background-color: #bbb;
  border-color: #555 #eee #eee #555;
}
.packbutton:active {
  background-color: #bbb;
  border-color: #555 #eee #eee #555;
}
.packbutton:disabled {
  background-color: grey;
  border-color: grey;
}


.cardbutton {
  font-size:9px;
  width:22px;
  height:22px;
  border-radius: 6px;
  background-color: #EEEEEE;
  border-width: 1px;
  border-style: solid;
  border-color: #eee #555 #555 #eee;
}
.cardbutton.selected{
  background-color: #bbb;
  border-color: #555 #eee #eee #555;
}
.cardbutton:active{
  background-color: #bbb;
  border-color: #555 #eee #eee #555;
}

.filterbutton {
  width: 40px;
  height: 40px;
  border-radius: 6px;
  background-color: #EEEEEE;
  border-width: 1px;
  border-style: solid;
  border-color: #eee #555 #555 #eee;
}
.filterbutton:hover{
  border-color: black;
}
.filterbutton.selected {
  background-color: #bbb;
  border-color: #555 #eee #eee #555;
}
.filterbutton:active {
  background-color: #bbb;
  border-color: #555 #eee #eee #555;
}

.cardpreview {
  width: 90%;
  height: auto;
  border: no;
}


.body {
  margin:10px;
}

.leftdiv {
  width: 25%;
  min-width: 200px;
  float: left;
  height:550px;
  overflow-y: auto;
}

.cardpreviewdiv {
  text-align: center;
  width:30%;
  min-width: 200px;
  float: left;
  max-height:500px;
}

.rightdiv {
  width: 45%;
  min-width: 450px;
  float: left;
}

.header {
  width: 100%;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}

.cards {
  height:450px;
  overflow-y:scroll;
}

.cardlist {
  width:100%;
}


.cardrow:nth-child(even) {
  background-color: #EEEEEE;
}
.cardrow:nth-child(odd) {
  background-color: #FFFFFF;
}

.cardrow:hover {
  background-color: #CCCCFF;
}

.filterdiv {
  font-size:0px;
}


table.deck {
  padding:0;
  margin: 0;
  width: 100%
}

tr.head {
  font-weight: bold;
}

.c1leadership {
  color: purple;
}
.c2tactics {
  color: red;
}
.c3spirit {
  color: blue;
}
.c4lore {
  color: green;
}
.c5neutral {
  color: #555;
}
.c6baggins {
  color: yellow;
  text-shadow: 1px 1px grey;
}
.c7fellowship {
  color: orange;
}

tr.card:hover {
  background-color: lightgrey;
}
