.packbutton { 
  font-size: 9px;
  width:   100%;
  height: 50px;
  border-radius: 6px;
  background-color: #EEEEEE;
  border-width: 1px;
  border-style: solid;
  border-color: #eee #555 #555 #eee;
}
.packbutton.selected {
  background-color: #bbb;
  border-color: #555 #eee #eee #555;
}
.packbutton:active {
  background-color: #bbb;
  border-color: #555 #eee #eee #555;
}
.packbutton:hover {
  border-color: black;
}
.packbutton:disabled {
  color: lightgrey;
  background-color: grey;
  border-color: grey;
}


.cardbutton {
  font-size:9px;
  width:22px;
  height:22px;
  border-radius: 6px;
  background-color: #EEEEEE;
  border-width: 1px;
  border-style: solid;
  border-color: #eee #555 #555 #eee;
}
.cardbutton:hover {
  border-color: black;
}
.cardbutton.selected{
  background-color: #bbb;
  border-color: #555 #eee #eee #555;
}
.cardbutton:active{
  background-color: #bbb;
  border-color: #555 #eee #eee #555;
}



.filterbutton {
  width: 40px;
  height: 40px;
  border-radius: 6px;
  background-color: #EEEEEE;
  border-width: 1px;
  border-style: solid;
  border-color: #eee #555 #555 #eee;
}
.filterbutton.selected {
  background-color: #bbb;
  border-color: #555 #eee #eee #555;
}
.filterbutton:active {
  background-color: #bbb;
  border-color: #555 #eee #eee #555;
}
.filterbutton:hover{
  border-color: black;
}

.cardpreview {
  width: 90%;
  height: auto;
  border: no;
}


body {
  width: 100%;
  height:95vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.body{
  margin: 0;
  padding:0;
  height: 80vh;
}

.leftdiv {
  width: 25%;
  min-width: 200px;
  float: left;
  height:108%;
  overflow-y: auto;
}

.cardpreviewdiv {
  text-align: center;
  width:30%;
  min-width: 100px;
  float: left;
  height:108%;
  overflow:hidden;
}

.rightdiv {
  width: 45%;
  min-width: 300px;
  height: 100%;
  float:left;
}

h1 {
  width: 100%;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin: 0;
}

.headerdiv{
  margin-top: 10px;
  padding:0;
  height:6vh;
}

.footer{
  margin: 0;
  padding:0;
  height:6vh;
  width: 100%;
  font-size: 9px;
  text-align: center;
  background-color: lightgrey;
  position: absolute;
  bottom: 0px;
}

.footerdiv{
  width: 90%;
  text-align: justify;
  margin: 0 auto;
}

.cardsdiv {
  display: flex;
  flex-direction: column;
  height:100%;
  width:100%;
}

.cards {
  flex:1;
  overflow-y: scroll;
}


table.cardlist {
  width:100%;
}


.cardrow:nth-child(even) {
  background-color: #EEEEEE;
}
.cardrow:nth-child(odd) {
  background-color: #FFFFFF;
}

.cardrow:hover {
  background-color: #CCCCFF;
}

.filterdiv {
  font-size:0px;
}


table.deck {
  padding:0;
  margin: 0;
  width: 100%
}

tr.head {
  font-weight: bold;
}

.c1leadership {
  color: purple;
}
.c2tactics {
  color: red;
}
.c3spirit {
  color: blue;
}
.c4lore {
  color: green;
}
.c5neutral {
  color: #555;
}
.c6baggins {
  color: yellow;
  text-shadow: 1px 1px grey;
}
.c7fellowship {
  color: orange;
}

tr.card:hover {
  background-color: lightgrey;
}



.savebutton { 
  width: 100%;
  border-radius: 6px;
  background-color: #EEEEEE;
  border-width: 1px;
  border-style: solid;
  border-color: #eee #555 #555 #eee;
  height: 30px;
  font-weight: normal;
  text-align: center;
}
.savebutton:hover{
  border-color: black;
}

.savebutton:active {
  background-color: #bbb;
  border-color: #555 #eee #eee #555;
}

div.upload {
  margin-top:5px;
}


td.decks {
  padding: 0px;
  width: 80px;
  vertical-align: top;
}
