.packbutton { 
  font-size: 9px;
  width: 100%;
  height: 50px;
  border-radius: 6px;
  background-color: white;
  border-width: 1px;
  border-color: lightgrey
}
.packbutton:hover{
  border-color: black;
}
.packbutton.selected {
  background-color: lightblue;
}

.cardbutton {
  font-size:9px;
  width:22px;
  height:22px;
}

.filterbutton {
  width: 20%;
  border-radius: 6px;
}
.filterbutton:hover{
  border-color: black;
}
.filterbutton.selected {
  background-color: lightblue;
}



.body {
  margin:10px;
}

.leftdiv {
  width: 40%;
  min-width: 350px;
  float: left;
  /*background-color:lightgrey;*/
  height:500px;
}

.cardpreview {
  width: 20%;
  min-width: 10px;
  height: 400px;
  float: left;
  /*background-color:lightgrey;*/
}

.rightdiv {
  width: 40%;
  min-width: 450px;
  float: left;
  /*background-color:lightgrey;*/
}

.header {
  width: 100%;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}

.cards {
  height:450px;
  overflow-y:scroll;
}

.cardlist {
  width:100%;
}
